.img{
    width: 5%;
}

.flex-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .scrollable-table {
    overflow-x: auto;
    white-space: nowrap;
  }

  .col-name {
    max-width: 50px;
    word-wrap: break-word;
  }

@media (max-width: 768px) {

    .table {
        font-size: 0.8em;
      }
    
      .form-control {
        margin-bottom: 1em;
      }

    .table td, .table th {
      font-size: 0.75rem;
      padding: 0.25rem;
    }
    .img {
      width: 50px;
      height: 50px;
    }
  }